*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-width: 375px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(180deg, #b068e9 50%, #6463e7 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-flow: row wrap;
  width: 920px;
  height: 509px;
  margin-top: 130px;
  background-color: #ffffff;
  border-radius: 23px;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
}

.leftBox {
  position: relative;
  width: 460px;
  height: 509px;
  background-repeat: no-repeat;
  background-image: url(../images/bg-pattern-desktop.svg);
  background-position: -579px -285px;
}

.box-img {
  position: absolute;
  left: -94px;
  top: 209px;
  z-index: +2;
}

.woman-img {
  position: absolute;
  margin-top: 70px;
  left: -83.86px;
  z-index: +1;
}

.mobile {
  display: none;
}

.rightBox {
  position: relative;
  width: 460px;
}

.rightBox > h1 {
  margin: 65px 0 43px 0;
  font-weight: bold;
  font-size: 32px;
  line-height: 32.19px;
  padding-left: 18px;
}

/*-----------------------------------accordian--------------------------*/

.acorbox {
  margin-right: 95px;
}

.accordion {
  background-color: #ffffff;
  color: #4b4c5f;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  color: #1e1f36;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
}

.accordion:hover {
  color: #f47b56;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  color: #787887;
  background-color: #ffffff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}

.panel > p {
  padding-bottom: 16px;
}

.accordion:after {
  content: url(../images/icon-arrow-down.svg);
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: url(../images/icon-arrow-down.svg);
  transform: rotate(180deg);
  transition: 0.5s;
}

.between-line {
  border-top: 1px solid #e8e8ea;
  margin: 0 18px;
}

.attribution {
  position: fixed;
  font-size: 11px;
  bottom: 0;
}
.attribution a {
  color: #e8e8ea;
}

/*--------------------------------------------media query------------------------------------------------*/

@media screen and (max-width: 922px) {
  body {
    min-height: 100vh;
  }

  .container {
    display: flex;
    flex-flow: column wrap;
    width: 327px;
    height: 535px;
    margin: 148px 24px 85px 24px;
    background-image: url(../images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: 30px 0;
  }

  .leftBox {
    position: relative;
    width: 327px;
    height: 135px;
    background-image: none;
  }

  .box-img,
  .woman-img {
    display: none;
  }

  .mobile {
    display: inline;
    position: relative;
    top: -108px;
    left: 10px;
  }

  .rightBox {
    height: 355px;
    width: 327px;
    margin: 0;
    padding: 0;
  }

  .rightBox > h1 {
    margin: 0 20px 25px 0;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
  }

  .acorbox {
    margin: 0;
    padding: 0 10px;
  }

  .active,
  .accordion:hover {
    color: #1e1f36;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: left;
  }

  .panel > p {
    padding-bottom: 12px;
    padding-right: 15px;
    line-height: 18px;
  }
}
